body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("/images/UN.jpg");

  background-repeat:no-repeat;
  background-position:0px 5px;
  background-attachment:fixed;
  background-size: cover;
}

a {
  color: #00B7FF;
}
